* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
}

.App {
    font-family: sans-serif;
    width: 90vw;
    margin: 0 auto;
    padding: 32px 0;
}

p {
    z-index: 1001;
    background-color: white;
    font-size: 32px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    line-height: 550px;
}

.button__sort {
    text-align: right;
    margin-bottom: 15px;
}

button {
    padding: 3px 13px;
    border: none;
    border-radius: 25px;
    font: inherit;
    color: #ffffff;
    background-color: dodgerblue;
    cursor: pointer;
    font-size: 20px;
}

.arrow-down, .arrow-up {
    width: 15px;
    height: 16px;
    margin-left: 7px;
    margin-right: 0;
}

.arrow-up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

h1 {
    margin-bottom: 25px;
}

h3 {
    font-size: 1rem;
    line-height: 1.4;
}

li {
    border: 1px solid #747272;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}